app-countries-chart {
    width: 85%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center
}

app-china-chart {
    width: 85%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center
}

app-vietnam-chart {
    width: 85%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center
}
